<div class="row">
    <div class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dulce of carrito">
                <div class="btn" type="button" (click)="eliminar(dulce)">
                    <td> {{dulce.nombre}}</td>
                    <td> {{dulce.tipo}}</td>
                    <td> {{dulce.costo}}</td>
                </div>
            </tr>
        </tbody>
    </div>
</div>
<h2>Total: {{total}}</h2>
<button type="button" class="zapato"(click)="comprar()">Comprar</button>
