<div class="container">
    <div class="row">
        <div class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dulce of factura.pedido" >
                    <td> {{dulce.nombre}}</td>
                    <td> {{dulce.tipo}}</td>
                    <td> {{dulce.costo}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
<br>
<button type="button" value="Detalles" (click)="volver()">Volver</button>
